log.html
output.xml
report.html
selenium-screenshot-*
*/Results
.bash_history
*pabot_results/
*.pyc
*.egg-info
*$py.class
.venv
venv/
.tox
cover
coverage.xml
.coverage
pylint.out
xunit.xml
nosetests.xml
geckodriver.log
*DS_Store
package-lock.json
node_modules
Results
